/* Reset de estilos para garantir consistência entre navegadores */
body, h1, h2, h3, h4, p, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Adicionei a fonte 'Roboto' */
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #004d40; /* Cor mais escura para h1 */
  margin-bottom: 30px; /* Espaçamento inferior entre cabeçalhos */
}

h2 {
  color: #00695c;
  margin-bottom: 20px;
}

h3 {
  color: #007755;
  margin-bottom: 10px;
}

h4 {
  color: #00894d; /* Cor mais clara para h4 */
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 10px 15px;
  margin: 1px 3px 5px 0px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007755; /* Cor principal dos botões */
}

.button-container {
  margin-bottom: 10px;
}

button:hover {
  background-color: #005e49; /* Cor ao passar o mouse */
}

p {
  text-align: center;
  margin-top: 10px; /* Espaçamento superior do parágrafo */
  margin-bottom: 5px; /* Espaçamento inferior do parágrafo */
  font-size: 14px; /* Tamanho de fonte reduzido */
  color: #555;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
  }
}
