/* Reset de margens e paddings */
body, h1, h2, h3, h4, p, button {
  margin: 0;
  padding: 0;
}

/* Estilos gerais do corpo */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Container principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index-banner {
  margin-bottom: 20px;
}

/* Estilos para títulos */
h1 {
  color: #004d40;
  margin-bottom: 20px;
}

h2 {
  color: #00695c;
  margin-bottom: 15px;
}

h3 {
  color: #007755;
  margin-bottom: 10px;
}

h4 {
  color: #00894d;
  margin-bottom: 10px;
}

/* Estilo para a descrição da matéria */
.desc-materia {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  text-align: left;
}

/* Estilo para parágrafos da seção "Sobre a Matéria" */
.sobre-paragrafo {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Estilo geral para parágrafos */
p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

/* Estilos para botões */
button {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007755;
  transition: background-color 0.3s ease;
}

.button-container {
  margin-bottom: 20px;
}

/* Efeitos de hover e focus para botões */
button:hover {
  background-color: #005e49;
}

button:focus {
  outline: 3px solid #004d40;
}

/* Estilos para links */
a {
  color: #007755;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para a caixa de pesquisa */
.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #007755;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007755;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #005e49;
}

/* Estilos para o seletor de período */
#periodoSelect {
  padding: 10px 30px 10px 15px; /* Espaçamento interno, deixando espaço para o ícone */
  font-size: 16px;
  border: 2px solid #007755;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  appearance: none;
  cursor: pointer;
  margin-bottom: 10px;
  background-image: url('../icons/chevron-down-20-solid.svg'); /* Caminho para o ícone SVG */
  background-repeat: no-repeat; /* Evita repetir o ícone */
  background-position: right 10px center; /* Posiciona o ícone à direita do seletor */
  background-size: 20px; /* Tamanho do ícone */
}

#periodoSelect option {
  padding: 10px; /* Espaçamento interno das opções */
}

/* Estilo do seletor quando hover */
#periodoSelect:hover {
  border-color: #005e49; /* Cor da borda ao passar o mouse */
}

/* Estilo do seletor quando focado */
#periodoSelect:focus {
  outline: none; /* Remove o contorno padrão */
  border-color: #004d40; /* Cor da borda quando focado */
}

.periodo-selector {
    margin-bottom: 0px; /* Ajuste o valor conforme necessário */
}

.periodo-selector label {
    margin-right: 10px; /* Adiciona 10px de margem à direita do label */
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  button {
    width: 100%;
  }
}
